<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.musicplayerdome">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/shape_icon"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:resizeableActivity="true"
        android:roundIcon="@drawable/shape_icon"
        android:supportsRtl="true"
        android:theme="@style/AppThemes"
        android:usesCleartextTraffic="true">
        <!-- android:networkSecurityConfig="@xml/network_security_config"很重要，要加上去 -->
        <activity
            android:name=".personal.view.PersonalActivity" />
        <activity
            android:name=".collection.view.MyCollectionActivity" />
        <activity
            android:name=".main.view.PlayListRecommendActivity" />
        <activity
            android:name=".search.view.SearchResultActivity" />
        <activity
            android:name=".search.view.SearchActivity" />
        <activity
            android:name=".search.view.VideoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.view.RankActivity" />
        <activity
            android:name=".yuncun.view.YuncunSongActivity" />
        <activity
            android:name=".song.view.SongMvActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.view.LoginActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:launchMode="singleTop" />
        <activity
            android:name=".main.view.SongSheetComment"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:launchMode="singleTop" />
        <activity
            android:name=".login.view.SelectLoginActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:launchMode="singleTop" />
        <activity
            android:name=".main.view.DailyRecommendActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:launchMode="singleTop" />
        <activity
            android:name=".song.view.CommentActivity" />
        <activity
            android:name=".song.view.SingerActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.view.SplashActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:theme="@style/ThemeSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.view.SongSheetActivityMusic"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize|screenLayout|uiMode"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.view.HomeActivityMusic"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".song.view.SongActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".song.view.FMSongActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="design_width_in_dp"
            android:value="400" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="640" />
        <!-- 全面屏 -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" />
        <!-- 刘海屏 -->
        <!-- 适配华为（huawei）刘海屏 -->
        <meta-data
            android:name="android.notch_support"
            android:value="true" />
        <!-- 适配小米（xiaomi）刘海屏 -->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />
    </application>

</manifest>